<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524710255780-rmd7vhdftef2lo7tb7ho29hvaei3moj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524710255780-rmd7vhdftef2lo7tb7ho29hvaei3moj1</string>
	<key>API_KEY</key>
	<string>AIzaSyDyafoez-hJPzwA0cPB7YIFCBNtb126-Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>524710255780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopManagement</string>
	<key>PROJECT_ID</key>
	<string>shop-management-ssms</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-management-ssms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524710255780:ios:5c7a667b5953fac9ce5a31</string>
</dict>
</plist>